body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*show card status */
.red{
  border-left: 12px solid red;
}
.green{
  border-left: 12px solid green; 
}
.gray{
  border-left: 12px solid gray;
}
.spacevertical{
  margin: 20px 0;
}
.coinp{
  margin: 20px 15px;
  width: 500px;
  height: auto;
}
.grow{
  flex-grow:1
}
.main{
  height: 80vh;
}
.footer{
  text-align: center;
  margin: 10px , 0px ;
}
a{
 text-decoration: none;
}
