body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*show card status */
.red{
  border-left: 10px solid red;
}
.green{
  border-left: 10px solid green; 
}
.gray{
  border-left: 10px solid gray;
}
.vertical-gap{
  margin: 8px 0;
}
.coinpop{
  margin: 20px 15px;
  width: 450px;
  height: auto;
}
.main{
  height: 80vh;
}
.footer{
  text-align: center;
  margin: 10px , 0px ;
}
a{
 text-decoration: none;
 color: orange;
}
a.coinpop{
  color:initial;
  font-size: 12px;
}
a:hover{
  color: green;
}
.coinclolor {
  color: initial;
}
.star::before{
  content: ' \2606';
  margin-right: 2px;
}
.moveright{
  color: black;
  float: right;
}